body{
  color: #36413f;
  margin: 0px;
  text-align: center;
  font-family: 'merriweather',serif;

}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive; 
}

h2{
  color: #66BFBF;
  font-family: 'montserrat',sans-serif;
  font-size: 2.5rem; 
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'montserrat',sans-serif;
  
}
/***********************<div>******************/
.top{
  position: relative;
  background-color: #E4F9E5;
  padding-top: 10px;
}

.bottom{
  background-color: #66BfBF;
  padding: 20px 0 20px;
}
.contact-me{
  width: 50%;
  margin: 100px auto 100px auto;

}

.end{
  color: #EAF6F6;

}


/*********************</div>******************/

.profile{
  width: 50%;
  margin: 100px auto 100px auto;
  color: #40514E;
  
}
.line{
  border: dotted;
  border-top: 8px dotted #aec4c4;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 8%;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
/*********************************ImAGES************************/
.html{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.css{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.webdesign{
  width: 25%;
  float: left;
  margin-right: 30px;
}
/**********************images*************************************/
.web{
  text-decoration: underline;
}
.cloud2{
  position: absolute;
  right: 300px;
  bottom: 300px;

}
.cloud1{
  position: absolute;
  left: 300px;
  top: 50px;
  
}
.myimg{
  height: 150px;
}
.BUTTON {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 25px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: Arial;
  width: 150px;
  font-size: 20px;
  font-weight: 100;
  padding: 8px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #1F628D 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px;
}
/*************media query****************/
@media screen and (max-width: 580px){
  .cloud2{
    position: absolute;
    right: 300px;
    bottom: 300px;
    width: 20%;
  }
  .cloud1{
    position: absolute;
    left: 300px;
    top: 50px;
    width: 20%;
  }
  .mountain{
    width:100%
  }
  .skill-row{
    width: 80%;
    margin: 10px auto 10px auto;
    text-align: left;
    line-height: 2;
  }
}

.BUTTON:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
