/**************************************************index.html*************************************************/
body, html {
    
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
.sfs{
    background-size: cover;
    
}
  .paragraph{
    margin-left: 10px;
    color: black;
}
.table-head{
    color: #295353;
}
hr{
    border-style:none;
    border-top-style: dotted;
    width: 5%;
    border-width: 0.25cm;
    border-color: #66bfbf;
    
}
h1{
    color: #295353;
    font-family: 'Times New Roman', Times, serif;
    
}

h2{
    color: #295353;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.list{
    margin-left: 20px;
}
.td{
    color: black;

}
.image{
    width: 200px;
}
.contact-me{
    margin-left: 20px;
    color:#295353 ;
}
/*************************************************contact-me**************************************************/

